<div class="banner">
  <h2>Making the World go round, one pill at a time.</h2>
  <button [routerLink]="['/products']">Shop Now</button>
</div>
<div class="featured">
  <h2 class="heading-primary">Featured Supplements</h2>
  <div class="featured__item">
    <div class="featured__item__info">
      <h3>Vitality Immuno Enhancer</h3>
      <p>Helps to increase focus, memory, immune system, and endocrine functions with ingredients such as alfalfa, quercetin, gotu kola, and zinc!</p>
      <p>Just take two a day and start noticing results in no time.</p>
    </div>
    <div class="featured__item__profile">
      <h3>Vitality Immuno Enhancer</h3>
      <img src="assets/images/1.png">
      <p>$39.95</p>
      <button
        (click)="addToCart()"
        >Add to Cart
      </button>
    </div>
  </div>
</div>
<hr width="80%">
<div class="reviews">
  <h2 class="heading-primary">What Our Customers Have to Say</h2>
  <div class="reviews__container">
    <div class="reviews__container__item">
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <br>
      <i>
        <p>I’ve been taking this for about 2 months now and I am noticeably more focused. Especially in the morning. I know a lot of people here in Tucson are taking it and having similar results. It’s kind of like a local phenomenon. Thanks!</p>
      </i>
    </div>
    <div class="reviews__container__item">
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <i>
        <p>I've tried multiple enhancers in the past and they seemed to never work out as well. I found these on Amazon and skeptically bought them to "Try Out". They really worked out for me and I'm now a repeat customers. They keep me focused when dealing with assignments at work and at school. It also boosted my immune system. Thanks Tupssups Vitality immuno Enhancer</p>
      </i>
    </div>
  </div>
  <div class="reviews__container">
    <div class="reviews__container__item">
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <i>
        <p>I took this product immediately before bed, and for the first time in a very long time I woke up refreshed and not feeling "foggy". I skipped a morning coffee and was still able to perform my complex tech job with clarity. At first, I was a little concerned about the price, but the product seems to be really high quality.
          Besides the mental clarity benefits, the combination of ingredients in this product matches what I would want to be taking for enhanced immunity during these crazy times.</p>
      </i>
    </div>
    <div class="reviews__container__item">
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <fa-icon class="star fa-3x" [icon]="faStar"></fa-icon>
      <i>
        <p>Love love love!!! I started taking these about a week 1/2 ago. Within a few days of taking them I started to notice the difference. I could get my daily routines done ✔️ go to the gym ✔️ and still have study groups ✔️ Without feeling feel. Recently, I had a state examen scheduled and these supplements helped me stay focus from beginning to end!! 🙌🏻✨ I PASSED ON THE FIRST TIME!! will DEFINITELY purchase another bottle!! If you’re reading this don’t hesitate anymore! Buy them! You will NOT regret it!!</p>
      </i>
    </div>
  </div>
</div>
<div class="mail">
  <h2 class="heading-secondary">Join our Mailing list</h2>
  <form>
    <input type="text" placeholder="Email">
    <button type="submit">Sign Up</button>
  </form>
</div>
